/* Todo.css */

body {
    background-color: #f8f9fa;
  }
  
  h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #1c3650;
  }
  
  .card {
    border-radius: 15px;
    border: none;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .btn-group .btn {
    border-radius: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .form-switch-lg .form-check-input {
    width: 2.5rem;
    height: 1.25rem;
  }
  
  .form-switch-lg .form-check-label {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }

  .toggle-btn {
    margin-top: 0;
  }

  
  .btn-outline-success {
    border-color: green;
    color: green;
  }
  
  .btn-outline-primary {
    border-color: blue;
    color: blue;
  }

  
  /* Custom checkbox styles */
.custom-checkbox .form-check-input {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid green;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox .form-check-input:checked {
  background-color: #0d6efd; /* Bootstrap primary color */
  border-color: #0d6efd; /* Bootstrap primary color */
}

.custom-checkbox .form-check-input:focus {
  border-color: green;
  box-shadow: none;
}

/* Strikethrough and text color for completed items */
.completed-item {
  color: gray;
  text-decoration: line-through;
  text-decoration-color: #0b5ed7; /* Darker blue */
  text-decoration-thickness: 4px; /* Bolder strikethrough */
}

/* Text color for uncompleted items */
.uncompleted-item {
  color: green;
}
